* {
  margin: 0;
  padding: 0;
}
body {
  margin: 3% 20%;
  font-family: inter;
  font-weight: 400;
  font-size: 15px;
}
h1 {
  font-weight: 800;
  font-size: 54px;
  line-height: 56px;
  color: #00001A;
}
h2 {
  font-weight: 700;
  color: #E9AB53;
  font-size: 40px;
}
h4 {
  cursor: pointer;
  font-weight: 700;
  color: white;
  font-size: 20px;
  line-height: 32px;
}
hr {
  margin: 30px 0;
  color: #C5C6CE;
}
#three-sections {
  margin-top: 100px;
}
p {
  font-size: 16px;
  line-height: 29px;
  color: #5D5F79;
}
.paragraph-div {
  padding-right: 8px;
}
.collapse {
  display: flex;
  justify-content: flex-end;
}
.nav-link {
  color: #5D5F79;
}
.hero-image {
  width: 100%;
}
.main-section {
  margin-top: 50px;
}
.side-row {
  background-color: #00001A;
  padding: 2%;
}
.m-bottom {
  margin-bottom: 30px;
}
.m-top {
  margin-top: 30px;
}
.btn {
  margin-top: 10px;
  background-color: #F15E50;
  border-radius: 0;
  color: white;
  font-family: inter;
  font-size: 14px;
  letter-spacing: 3.2px;
  font-weight: 600;
  padding: 12px 30px;
}
.special-h2 {
  font-size: 36px;
  font-weight: 600;
  color: #C5C6CE;
}
.special-img {
  width: 100%;
}
.special-h4 {
  font-size: 16px;
  font-weight: 800;
  color: #00001A;
}
.special-p {
  line-height: 1.5;
}
.nav-link:hover {
  color: #E9AB53;
}
h4:hover {
  color: #E9AB53;
}
.btn:hover {
  background-color: #00001A;
  color: white;
}
.special-h4:hover {
  color: #F15E50;
}
